body{
    margin:0;
    font-family: fantasy;
    padding: 10px;               /* Add padding to cells for better spacing */
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    
} 

table{
    margin-top: 30px;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;

}

.table-container{
    margin-left: auto;
    margin-right: auto;


} /* Applys styles toable container */

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th{
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 7px 7px 7px black;
}

.centered{  /* selector */

    width: 50%; /* sets the width of the <div> to 50% of its parent container's width. */
    margin: 0 auto; /* property to horizontally center a <div> */ 
    /* controls the space around an element. 0 sets the top and bottom margins , while auto sets the left and right margins to automatically distribute space equally. */


}

