<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <h1 style="text-align: center;">Welcome To The Task Manager</h1>
    <br>
    <i><b><center><small>Please enter your login credentials</small></center></b></body></i>
    <br>
    
</head>


<body>
  
    

    <form style="text-align: center;" action="/login/" method="post">
        <label for='username'>Username: </label>
        <input type="text" name="username" id="username">
    </form>

   <form style="text-align: center;" action='/login/' method='post'>
        <label for = 'password'>Password: </label>
        <input type="text" name="password" id="password">
        <br>
        <br>
        <input type="submit" value="Login">
    </form>>


</body>
</html>