<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>








</head>




<style>    
   body{
       background-color:antiquewhite;




   }
</style>




<body>
 
  <h1 style="text-decoration: underline; text-align: center; font-family: cursive;"> Create Your Account </h1>
   <form style="text-align: center;" action="/register/" method="post get">
       <label for="username">Username: </label>
       <input type="text" name="username" id="username" required>
       <br>
       <br>
       <label for="password">Password: </label>
       <input type="text" name="password" id="password" required>
       <br>
       <br>
       <input type="submit" value="Create Account">
   </form>


</body>




</html>