<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>








</head>




<style>    
   body{
       background-color:antiquewhite;




   }
</style>




<body>

    <center><small></small><a href="/login/">Already Have An Account? Login</a></small></center>
 
  
   <form style="text-align: center;" action="/register/" method="post get">
       <label for="username">Username: </label>
       <input type="text" name="username" id="username" required>
       <br>
       <label for="password">Password: </label>
       <input type="text" name="password" id="password" required>
       <br>
       <input type="submit" value="Create Account">
   </form>




</body>




</html>