{% extends 'base.html' %}

{% block head %}
   <title>Registration page</title>



   <h1 style="text-decoration: underline; text-align: center; font-family: cursive;"> Create Your Account </h1>

   <br>
   <i><b><center><small>Please create your login credentials</small></center></b></body></i>
   <br>



{%  endblock %}




{% block body %}

 
   <form style="text-align: center;" action="/register/" method="POST">
       
       <div class="container">
         <div class="row justify-content-center" >
            <div class="col-2 ">
               <label for="username" class="mb-0">Username</label>
               <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Enter username"
               />
               <br>
               <label for="password" class="mb-0">Password</label>
               <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter password"
               />
               <br>
               <label for="email" class="mb-0">E-mail</label>
               <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email"
               />
            </div>
         </div>
      </div>
      
      <button type="submit" class="btn btn-primary mt-3">Register</button>

   </form>

{% endblock %}